#about-modal.modal.fade(tabindex="-1", role="dialog")
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title About
			.modal-body
				p About page
			.modal-footer
				button.btn.btn-default(type="button", data-dismiss="modal") Close