nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
	.container-fluid
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#', data-toggle="modal", data-target="#about-modal") 
				span.glyphicon.glyphicon-heart.red
				|  Poker Tourney Manager
		.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href="#", data-bind="click: broadcast") 
						span.glyphicon.glyphicon-earphone
						|  Broadcast
				li(data-bind="visible: !isRunning()")
					a(href="#", data-toggle="modal", data-target="#settings-modal") 
						span.glyphicon.glyphicon-cog
						|  Settings
		// /.navbar-collapse
include settings.jade
include about.jade