.container-fluid
	table.table.table-condensed.table-striped
		thead
			tr
				th Level
				th Small Blind
				th Big Blind
				th(data-bind="visible: enableAntes") Ante
		tbody(data-bind="foreach: blindIntervals")
			tr
				td
					.radio.no-margin
						label
							input(type="radio", data-bind="checkedValue: $index()+1, checked: $parent.blindLevel")
							span(data-bind="text: $index() + 1")
				td
					input(type="number", data-bind="value: smallBlind")
				td
					input(type="number", data-bind="value: bigBlind")
				td(data-bind="visible: $parent.enableAntes")
					input(type="number", data-bind="value: ante")