#settings-modal.modal.fade(tabindex="-1", role="dialog")
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title Settings
			.modal-body
				form
					ul.nav.nav-tabs(role="tablist")
						li.active(role="presentation")
							a(href="#settings-basic-tab", role="tab", data-toggle="tab") Basic Settings
						li(role="presentation")
							a(href="#settings-advanced-tab", role="tab", data-toggle="tab") Advanced Settings
						li(role="presentation")
							a(href="#settings-blinds-tab", role="tab", data-toggle="tab") Blind Schedule
					.tab-content
						#settings-basic-tab.tab-pane.active(role="tabpanel")
							include settings-basic.jade
						#settings-advanced-tab.tab-pane(role="tabpanel")
							include settings-advanced.jade
						#settings-blinds-tab.tab-pane(role="tabpanel")
							include settings-blinds.jade
			.modal-footer
				button.btn.btn-default(type="button", data-dismiss="modal") Close
