@import "../../node_modules/bootstrap-less/bootstrap/bootstrap.less";
@import "variables.less";
@import "theme.less";

body {
	background-color: fadeout(@gray-light, 10%);
}

.tab-pane {
	.container-fluid {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.clickable {
	cursor: pointer;
}

.modal-backdrop {
	bottom: 0;
	position: fixed;
	.in {
		opacity: 0.9;
	}
}

.modal-fullscreen {
	.modal-dialog {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	.modal-content {
		height: auto;
		min-height: 100%;
		border-radius: 0;
	}
}

.navbar {
	.glyphicon {
		font-size: 16px;
	}
}

.jumbotron {
	border: 20px solid transparent;
}
.jumbotron&.bg-info {
	.bg-info
}
.jumbotron&.bg-danger {
	.bg-danger
}
.jumbotron&.bg-success {
	.bg-success
}
.jumbotron&.bg-warning {
	.bg-warning
}

.interval-danger-odd {
	border: 20px solid darken(@state-danger-border, 50%);
}

.red {
	color: red;
}

@media screen and (max-width: @screen-sm-max) {
	.jumbotron {
		margin-top: 50px;
		h1, .h1 {
			font-size: 100px;
		}
		h2, .h2 {
			font-size: 50px;
		}
	}
}

@media screen and (min-width: @screen-sm) {
	.jumbotron {
		padding: 12px 0;
		margin-top: 60px;
		h1, .h1 {
			font-size: 120px;
		}
		h2, .h2 {
			font-size: 60px;
		}
	}
}
