@import "../../node_modules/bootstrap-less/bootstrap/bootstrap.less";

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.modal-backdrop {
	bottom: 0;
	position: fixed;
	.in {
		opacity: 0.9;
	}
}

.modal-fullscreen {
	.modal-dialog {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	.modal-content {
		height: auto;
		min-height: 100%;
		border-radius: 0;
	}
}

.navbar {
	.glyphicon {
		font-size: 24px;
	}
}

.jumbotron {
	border: 20px solid transparent;
}

.jumbotron&.bg-success {
	.bg-success
}
.jumbotron&.bg-warning {
	.bg-warning
}
.jumbotron&.bg-danger {
	.bg-danger
}

.interval-danger-odd {
	border: 20px solid darken(@state-danger-border, 50%);
}

@media screen and (max-width: @screen-sm-max) {
	.jumbotron {
		margin-top: 50px;
		h1, .h1 {
			font-size: 100px;
		}
		h2, .h2 {
			font-size: 50px;
		}
	}
}

@media screen and (min-width: @screen-sm) {
	.jumbotron {
		padding: 24px 0;
		margin-top: 60px;
		h1, .h1 {
			font-size: 120px;
			small {
				font-size: 24px;
			}
		}
		h2, .h2 {
			font-size: 60px;
			small {
				font-size: 24px;
			}
		}
	}
}
